{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ page_name }}{% endblock %}

{% block body %}
    <div class="jumbotron mt-2">
        <h1>{{ page_name }}</h1>
        <p class="lead">Bienvenu sur Sortir.com</p>
        <small class="text-muted">Best web site of the world.</small>
    </div>
{% endblock %}
