<!doctype html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Changement du mot de passe</title>
</head>
    <body>
    <h1>Lien vers le changement de mot de passe</h1>
    <a href="http://localhost{{ path('reset_password_email', {'email': email}) }}">Cliquez ici pour réinitialiser votre mot de passe</a>
    </body>
</html>