<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sortir.com | Réinitialisation du mot de passe</title>
    </head>
    <body>
        <h1>Réinitialisation du mot de passe</h1>
        <p>Bonjour {{ user.pseudo }}, nous avons réinitialisé le mot de passe de votre compte suite à votre demande.</p>
        <p>Voici le nouveau mot de passe : {{ random_password }}</p>
    </body>
</html>